.vote-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url('../../assets/circle-scatter-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.vote-header-container{
  background-image: url('../../assets/annie.jpg');
  width: 100%;
  text-align: center;

  div{
    height: 100%;
    width: 100%;
    background: transparent;
    background-color: rgba(79, 77, 77, 0.3);
    backdrop-filter: blur(7px);
    padding: 2rem;
  }

  h2{
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
  }
}