.card-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.7rem;
  border-radius: 0.5rem;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.card-header-container{
  padding: 1rem;
  text-align: center;
  
  h3{
    font-size: 2.3rem;
    color: #22353a;
  }
  span{
    font-style: italic;
    color: #22353a;
  }
}