.login-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  .login-text{
    color: #13181a;
  }
  .login-link{
    a{
      color: #865a9a;
      text-decoration: none;
    }
    a:hover{
      color: #865a9a;
      text-decoration: underline;
      text-underline-offset: 0.4rem;
    }
  }
}