.form-container{
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.7rem;
  width: 25rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  div{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    label {
      font-size: 0.9rem;
      font-weight: bold;
      color: #1e2a2c;
    }

    input{
      font-size: 1rem;
      padding: 0.6rem;
      border: 0.5px solid #c9d2d3;
      border-radius: 0.5rem;
      color: #41646c;
      outline: none;
    }
  }
  button{
    margin-top: 0.7rem;
    padding: 0.6rem;
    font-size: 1.1rem;
    border-radius: 0.6rem;
    color: #1e2a2c;
    background: none;
    border: 1px solid #1e2a2c;
  }

  button:hover{
    background: #1e2a2c;
    color: white;
    cursor: pointer;
  }
}

.error-container{
  div{
    color: rgb(245, 87, 87);
  }
}