.button-container{
  padding: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  
  button{
    padding: 1rem;
    width: 19rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #436343;
    border: none;
    outline: none;
    color: white;
  }
  button:hover{
    background-color: #162516;
    outline: none;
    cursor: pointer;
  }
}